In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

loan = pd.read_csv("loan.csv")
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

C:\Users\anush\AppData\Local\Temp\ipykernel_31116\2906273644.py:6: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loan = pd.read_csv("loan.csv")

In [5]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
loan.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [7]:
loan.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [8]:
round(loan.isnull().sum()/len(loan.index), 2)*100

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.0
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [9]:
missing_columns = loan.columns[100*(loan.isnull().sum()/len(loan.index)) > 90]
print(missing_columns)

Index(['mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0',
       'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object')

In [10]:
loan = loan.drop(missing_columns, axis=1)
print(loan.shape)

(39717, 55)

In [11]:
100*(loan.isnull().sum()/len(loan.index))

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.580507
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
chargeoff_within_12_mths       0.140998
delinq_amnt                    0.000000
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [12]:
loan.loc[:, ['desc', 'mths_since_last_delinq']].head()

                                                desc  mths_since_last_delinq
0    Borrower added on 12/22/11 > I need to upgra...                     NaN
1    Borrower added on 12/22/11 > I plan to use t...                     NaN
2                                                NaN                     NaN
3    Borrower added on 12/21/11 > to pay for prop...                    35.0
4    Borrower added on 12/21/11 > I plan on combi...                    38.0

In [13]:
loan = loan.drop(['desc', 'mths_since_last_delinq'], axis=1)

In [14]:
100*(loan.isnull().sum()/len(loan.index))

id                            0.000000
member_id                     0.000000
loan_amnt                     0.000000
funded_amnt                   0.000000
funded_amnt_inv               0.000000
term                          0.000000
int_rate                      0.000000
installment                   0.000000
grade                         0.000000
sub_grade                     0.000000
emp_title                     6.191303
emp_length                    2.706650
home_ownership                0.000000
annual_inc                    0.000000
verification_status           0.000000
issue_d                       0.000000
loan_status                   0.000000
pymnt_plan                    0.000000
url                           0.000000
purpose                       0.000000
title                         0.027696
zip_code                      0.000000
addr_state                    0.000000
dti                           0.000000
delinq_2yrs                   0.000000
earliest_cr_line              0.000000
inq_last_6mths                0.000000
open_acc                      0.000000
pub_rec                       0.000000
revol_bal                     0.000000
revol_util                    0.125891
total_acc                     0.000000
initial_list_status           0.000000
out_prncp                     0.000000
out_prncp_inv                 0.000000
total_pymnt                   0.000000
total_pymnt_inv               0.000000
total_rec_prncp               0.000000
total_rec_int                 0.000000
total_rec_late_fee            0.000000
recoveries                    0.000000
collection_recovery_fee       0.000000
last_pymnt_d                  0.178765
last_pymnt_amnt               0.000000
last_credit_pull_d            0.005036
collections_12_mths_ex_med    0.140998
policy_code                   0.000000
application_type              0.000000
acc_now_delinq                0.000000
chargeoff_within_12_mths      0.140998
delinq_amnt                   0.000000
pub_rec_bankruptcies          1.754916
tax_liens                     0.098195
dtype: float64

In [15]:
loan.isnull().sum(axis=1)

0        1
1        0
2        1
3        0
4        0
        ..
39712    4
39713    4
39714    5
39715    5
39716    4
Length: 39717, dtype: int64

In [16]:
len(loan[loan.isnull().sum(axis=1) > 5].index)

0

In [17]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  purpose                     39717 non-null  object
 20  title                       39706 non-null  object
 21  zip_code                    39717 non-null  object
 22  addr_state                  39717 non-null  object
 23  dti                         39717 non-null  float64
 24  delinq_2yrs                 39717 non-null  int64
 25  earliest_cr_line            39717 non-null  object
 26  inq_last_6mths              39717 non-null  int64
 27  open_acc                    39717 non-null  int64
 28  pub_rec                     39717 non-null  int64
 29  revol_bal                   39717 non-null  int64
 30  revol_util                  39667 non-null  object
 31  total_acc                   39717 non-null  int64
 32  initial_list_status         39717 non-null  object
 33  out_prncp                   39717 non-null  float64
 34  out_prncp_inv               39717 non-null  float64
 35  total_pymnt                 39717 non-null  float64
 36  total_pymnt_inv             39717 non-null  float64
 37  total_rec_prncp             39717 non-null  float64
 38  total_rec_int               39717 non-null  float64
 39  total_rec_late_fee          39717 non-null  float64
 40  recoveries                  39717 non-null  float64
 41  collection_recovery_fee     39717 non-null  float64
 42  last_pymnt_d                39646 non-null  object
 43  last_pymnt_amnt             39717 non-null  float64
 44  last_credit_pull_d          39715 non-null  object
 45  collections_12_mths_ex_med  39661 non-null  float64
 46  policy_code                 39717 non-null  int64
 47  application_type            39717 non-null  object
 48  acc_now_delinq              39717 non-null  int64
 49  chargeoff_within_12_mths    39661 non-null  float64
 50  delinq_amnt                 39717 non-null  int64
 51  pub_rec_bankruptcies        39020 non-null  float64
 52  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(22)
memory usage: 16.1+ MB

In [18]:
loan['int_rate'] = loan['int_rate'].apply(lambda x: pd.to_numeric(x.split("%")[0]))

In [19]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  float64
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  purpose                     39717 non-null  object
 20  title                       39706 non-null  object
 21  zip_code                    39717 non-null  object
 22  addr_state                  39717 non-null  object
 23  dti                         39717 non-null  float64
 24  delinq_2yrs                 39717 non-null  int64
 25  earliest_cr_line            39717 non-null  object
 26  inq_last_6mths              39717 non-null  int64
 27  open_acc                    39717 non-null  int64
 28  pub_rec                     39717 non-null  int64
 29  revol_bal                   39717 non-null  int64
 30  revol_util                  39667 non-null  object
 31  total_acc                   39717 non-null  int64
 32  initial_list_status         39717 non-null  object
 33  out_prncp                   39717 non-null  float64
 34  out_prncp_inv               39717 non-null  float64
 35  total_pymnt                 39717 non-null  float64
 36  total_pymnt_inv             39717 non-null  float64
 37  total_rec_prncp             39717 non-null  float64
 38  total_rec_int               39717 non-null  float64
 39  total_rec_late_fee          39717 non-null  float64
 40  recoveries                  39717 non-null  float64
 41  collection_recovery_fee     39717 non-null  float64
 42  last_pymnt_d                39646 non-null  object
 43  last_pymnt_amnt             39717 non-null  float64
 44  last_credit_pull_d          39715 non-null  object
 45  collections_12_mths_ex_med  39661 non-null  float64
 46  policy_code                 39717 non-null  int64
 47  application_type            39717 non-null  object
 48  acc_now_delinq              39717 non-null  int64
 49  chargeoff_within_12_mths    39661 non-null  float64
 50  delinq_amnt                 39717 non-null  int64
 51  pub_rec_bankruptcies        39020 non-null  float64
 52  tax_liens                   39678 non-null  float64
dtypes: float64(19), int64(13), object(21)
memory usage: 16.1+ MB

In [20]:
loan = loan[~loan['emp_length'].isnull()]

import re
loan['emp_length'] = loan['emp_length'].apply(lambda x: re.findall('\d+', str(x))[0])

loan['emp_length'] = loan['emp_length'].apply(lambda x: pd.to_numeric(x))

In [21]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38642 entries, 0 to 39716
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38642 non-null  int64
 1   member_id                   38642 non-null  int64
 2   loan_amnt                   38642 non-null  int64
 3   funded_amnt                 38642 non-null  int64
 4   funded_amnt_inv             38642 non-null  float64
 5   term                        38642 non-null  object
 6   int_rate                    38642 non-null  float64
 7   installment                 38642 non-null  float64
 8   grade                       38642 non-null  object
 9   sub_grade                   38642 non-null  object
 10  emp_title                   37202 non-null  object
 11  emp_length                  38642 non-null  int64
 12  home_ownership              38642 non-null  object
 13  annual_inc                  38642 non-null  float64
 14  verification_status         38642 non-null  object
 15  issue_d                     38642 non-null  object
 16  loan_status                 38642 non-null  object
 17  pymnt_plan                  38642 non-null  object
 18  url                         38642 non-null  object
 19  purpose                     38642 non-null  object
 20  title                       38632 non-null  object
 21  zip_code                    38642 non-null  object
 22  addr_state                  38642 non-null  object
 23  dti                         38642 non-null  float64
 24  delinq_2yrs                 38642 non-null  int64
 25  earliest_cr_line            38642 non-null  object
 26  inq_last_6mths              38642 non-null  int64
 27  open_acc                    38642 non-null  int64
 28  pub_rec                     38642 non-null  int64
 29  revol_bal                   38642 non-null  int64
 30  revol_util                  38595 non-null  object
 31  total_acc                   38642 non-null  int64
 32  initial_list_status         38642 non-null  object
 33  out_prncp                   38642 non-null  float64
 34  out_prncp_inv               38642 non-null  float64
 35  total_pymnt                 38642 non-null  float64
 36  total_pymnt_inv             38642 non-null  float64
 37  total_rec_prncp             38642 non-null  float64
 38  total_rec_int               38642 non-null  float64
 39  total_rec_late_fee          38642 non-null  float64
 40  recoveries                  38642 non-null  float64
 41  collection_recovery_fee     38642 non-null  float64
 42  last_pymnt_d                38576 non-null  object
 43  last_pymnt_amnt             38642 non-null  float64
 44  last_credit_pull_d          38640 non-null  object
 45  collections_12_mths_ex_med  38586 non-null  float64
 46  policy_code                 38642 non-null  int64
 47  application_type            38642 non-null  object
 48  acc_now_delinq              38642 non-null  int64
 49  chargeoff_within_12_mths    38586 non-null  float64
 50  delinq_amnt                 38642 non-null  int64
 51  pub_rec_bankruptcies        37945 non-null  float64
 52  tax_liens                   38603 non-null  float64
dtypes: float64(19), int64(14), object(20)
memory usage: 15.9+ MB

In [22]:
behaviour_var =  [
  "delinq_2yrs",
  "earliest_cr_line",
  "inq_last_6mths",
  "open_acc",
  "pub_rec",
  "revol_bal",
  "revol_util",
  "total_acc",
  "out_prncp",
  "out_prncp_inv",
  "total_pymnt",
  "total_pymnt_inv",
  "total_rec_prncp",
  "total_rec_int",
  "total_rec_late_fee",
  "recoveries",
  "collection_recovery_fee",
  "last_pymnt_d",
  "last_pymnt_amnt",
  "last_credit_pull_d",
  "application_type"]
behaviour_var

['delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'application_type']

In [23]:
df = loan.drop(behaviour_var, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38642 entries, 0 to 39716
Data columns (total 32 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38642 non-null  int64
 1   member_id                   38642 non-null  int64
 2   loan_amnt                   38642 non-null  int64
 3   funded_amnt                 38642 non-null  int64
 4   funded_amnt_inv             38642 non-null  float64
 5   term                        38642 non-null  object
 6   int_rate                    38642 non-null  float64
 7   installment                 38642 non-null  float64
 8   grade                       38642 non-null  object
 9   sub_grade                   38642 non-null  object
 10  emp_title                   37202 non-null  object
 11  emp_length                  38642 non-null  int64
 12  home_ownership              38642 non-null  object
 13  annual_inc                  38642 non-null  float64
 14  verification_status         38642 non-null  object
 15  issue_d                     38642 non-null  object
 16  loan_status                 38642 non-null  object
 17  pymnt_plan                  38642 non-null  object
 18  url                         38642 non-null  object
 19  purpose                     38642 non-null  object
 20  title                       38632 non-null  object
 21  zip_code                    38642 non-null  object
 22  addr_state                  38642 non-null  object
 23  dti                         38642 non-null  float64
 24  initial_list_status         38642 non-null  object
 25  collections_12_mths_ex_med  38586 non-null  float64
 26  policy_code                 38642 non-null  int64
 27  acc_now_delinq              38642 non-null  int64
 28  chargeoff_within_12_mths    38586 non-null  float64
 29  delinq_amnt                 38642 non-null  int64
 30  pub_rec_bankruptcies        37945 non-null  float64
 31  tax_liens                   38603 non-null  float64
dtypes: float64(9), int64(8), object(15)
memory usage: 9.7+ MB

In [24]:
df = df.drop(['title', 'url', 'zip_code', 'addr_state'], axis=1)

In [25]:
df['loan_status'] = df['loan_status'].astype('category')
df['loan_status'].value_counts()

Fully Paid     32145
Charged Off     5399
Current         1098
Name: loan_status, dtype: int64

In [26]:

df = df[df['loan_status'] != 'Current']
df['loan_status'] = df['loan_status'].apply(lambda x: 0 if x=='Fully Paid' else 1)


df['loan_status'] = df['loan_status'].apply(lambda x: pd.to_numeric(x))


df['loan_status'].value_counts()

0    32145
1     5399
Name: loan_status, dtype: int64